*{
    font-family: "Poppins", sans-serif;
}

.mr-auto{
    height: 100hh, 30vh;
    background: rgb(46, 140, 51);
}

.container_mt-4{
    height: 100hh, 100vh;
    background: rgb(167, 230, 161);
}

/* .deskripsialat{
    height: 100vh;
    background: url(src/assets/img/foto_alip.jpg);

} */

/* .myBG{
    height: 100hh, 100vh;
    background: rgb(167, 230, 161);
} */